# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup


import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [14]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head(10)

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Date,Country
0,0,busselton,-33.65,115.33,70.00,64,24,8.05,1607621883,AU
1,1,tuktoyaktuk,69.45,-133.04,-11.20,83,90,12.75,1607621883,CA
2,2,ushuaia,-54.80,-68.30,62.60,39,20,10.29,1607621883,AR
3,3,amapa,1.00,-52.00,92.57,42,28,7.02,1607621883,BR
4,4,rikitea,-23.12,-134.97,76.66,80,49,13.87,1607621883,PF
5,5,prokhorovka,51.04,36.73,21.20,67,0,13.42,1607621883,RU
6,6,castro,-24.79,-50.01,74.03,66,61,3.29,1607621884,BR
7,7,albany,42.60,-73.97,42.01,55,49,4.00,1607621849,US
8,8,east london,-33.02,27.91,69.80,83,20,9.17,1607621884,ZA
9,9,fairbanks,64.84,-147.72,1.99,84,90,1.12,1607621672,US

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps first

gmaps.configure(api_key = g_key)

!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [26]:
locations = city_data_df[["Latitude","Longitude"]]
humidity = city_data_df["Humidity"]

#create base map and 
fig = gmaps.figure(zoom_level = 2, center = (0,0))

#add heat layer
humidity_heatmap_layer = gmaps.heatmap_layer(locations, weights = humidity, max_intensity=100, dissipating=False, point_radius = 4)

fig.add_layer(humidity_heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure